In [4]:
import pandas as pd
import numpy as np
from numpy.linalg import norm
from tqdm import tqdm
import sys
sys.path.append("../utils/")
from recsys_metric import mrr

time: 411 Âµs (started: 2022-06-15 05:20:16 +00:00)

In [5]:
def trn_rating(file_path):
    def fun1(x):
        x.loc[x['date']==x['date'].max(),'rating']=5
        return x
    
    trn_data = pd.read_csv(file_path, sep=',', engine='python')
    trn_data['date'] = pd.to_datetime(trn_data['date'])
    trn_data['rating'] = 1
    max_view = trn_data.groupby(['session_id', 'item_id']).sum()['rating'].max()
    trn_data_no_date = trn_data.sort_values(['date']).groupby('session_id').apply(fun1).groupby(['session_id', 'item_id'])['rating'].sum().reset_index().sort_values(['session_id', 'rating'])
    trn_data_date = pd.merge(trn_data.loc[:,['session_id', 'item_id', 'date']], trn_data_no_date, how="left").sort_values(['session_id', 'date'])
    
    return trn_data_no_date, trn_data_date


def rank_itemcf(target_dict, overview=False):
    """
    target_dict : 
      {session_id1:[item_id1, item_id2, ...], session_id2:[item_id5, item_id1, ...]}
    """
    item_id_rank_arr = pd.DataFrame.from_dict(target_dict, orient='index').reset_index().rename(columns={'index': 'session_id'}).fillna(-1).astype(int)
    lack_col_num = 101 - len(item_id_rank_arr.columns)
    for i in range(100-lack_col_num,100):
        item_id_rank_arr[i]=-1
     
    if overview:
        print(f"lack_col_num:{lack_col_num}")
        display(item_id_rank_arr)
    
    res_df = pd.melt(item_id_rank_arr, id_vars=['session_id'], value_vars=range(100)).sort_values(['session_id','variable']).rename(columns={'value': 'item_id'}).drop(['variable'], axis=1)
    res_df["rank"] = (list(range(1,101))*len(target_dict))
    
    
    return res_df


class ItemCFRating():
    def __init__(self,trn_data):
        """
        self.trn_data format:
           | session_id | item_id | rating |
           |-----------:|--------:|-------:|
           |        113 |    2171 |      1 |
           |        113 |    6187 |      1 |
           |        113 |   15738 |      1 | 
                           .
                           .
                           .
        """
        self.user_item_mat = trn_data.pivot(index = ["session_id"],columns = ["item_id"],values = "rating").fillna(0)
        self.item_sim_mat = None
        
    def similarity(self):
        tmp = np.dot(self.user_item_mat.T,self.user_item_mat)
        tmp = tmp/norm(tmp, axis=0)
        self.item_sim_mat = pd.DataFrame(tmp, columns=self.user_item_mat.columns, index=self.user_item_mat.columns) 
        
    def recommend(self, session_list ,K ,N):
        # print(rec_dic) => {session_id1:[item_id1, item_id2, ...], session_id2:[item_id5, item_id1, ...]}
        rec_dic = {}
        print("start recommend...")
        for sid in tqdm(session_list):
            viewed_item_list = self.user_item_mat.loc[sid, self.user_item_mat.loc[sid,:]>0].index.tolist()
            viewed_item_sim_mat = self.item_sim_mat.loc[viewed_item_list,:]
            viewed_item_K_sim_item = viewed_item_sim_mat.T.apply(lambda x:x.sort_values(ascending=False).index[:K+1], axis=0).T
            col_list = list(set(np.unique(viewed_item_K_sim_item.values.reshape(-1,))) - set(viewed_item_list))
            viewed_item_K_sim_mat = self.item_sim_mat.loc[viewed_item_list,col_list]
            rec_items = viewed_item_K_sim_mat.sum(axis=0).sort_values(ascending=False).index.tolist()[:N]
            rec_dic[sid] = rec_items
        return rec_dic

time: 1.82 ms (started: 2022-06-15 05:20:16 +00:00)

In [6]:
val_label = pd.read_csv('../datasets/purchases_last_1m.csv')
val_data_session_list = pd.read_csv("../datasets/train_last_1m.csv")['session_id'].unique()
display(val_data_session_list)

trn_data, trn_data_date = trn_rating("../datasets/train_last_1m.csv") 
display(trn_data['item_id'].nunique())
display(trn_data[:50], trn_data_date[:50])

array([    113,     115,     261, ..., 4439898, 4439949, 4439986])

7342

    session_id  item_id  rating
0           31      264       1
3           31    16289       1
4           31    25972       1
5           31    26457       1
6           31    27579       1
1           31     2069       2
2           31     4230       5
7          113     2171       1
8          113     6187       1
9          113    15738       1
11         113    19760       1
12         113    21215       1
10         113    17218       5
14         115    15969       1
13         115    10442       2
16         115    19705       3
15         115    16631       6
17         140    11378       1
19         140    18723       1
18         140    13914       5
20         184    14383       5
21         261     3946       1
23         261    19143       1
25         261    26673       1
22         261    17428       2
24         261    25002       5
26         318    21330       5
29         325    11638       1
30         325    19882       1
27         325     4130       2
28         325     9219       5
31         332     5264       1
32         332    23345       5
33         388     1610       5
34         422     1146       1
36         422    22035       1
35         422     8062       6
37         480     2915       1
38         480     7548       1
39         480    16377       5
40         496     5880       1
41         496     6636       1
42         496    10892       1
43         496    17239       1
44         496    21197       1
45         496    23462       1
46         496    26180       5
47         526     1515       1
49         526    11998       1
50         526    26085       1

    session_id  item_id                    date  rating
0           31    25972 2021-04-20 19:38:03.816       1
1           31    16289 2021-04-20 19:39:17.092       1
5           31     2069 2021-04-20 19:39:29.968       2
2           31     2069 2021-04-20 19:40:21.952       2
4           31    26457 2021-04-20 19:41:29.179       1
7           31      264 2021-04-20 19:42:13.190       1
3           31    27579 2021-04-20 19:43:43.813       1
6           31     4230 2021-04-20 19:45:23.203       5
13         113     6187 2021-05-05 13:18:20.994       1
11         113    19760 2021-05-05 13:18:49.495       1
8          113     2171 2021-05-05 13:19:15.147       1
10         113    15738 2021-05-05 13:19:54.211       1
12         113    21215 2021-05-05 14:03:43.401       1
9          113    17218 2021-05-05 14:13:21.645       5
17         115    19705 2021-05-27 10:13:40.996       3
20         115    10442 2021-05-27 10:13:51.664       2
16         115    15969 2021-05-27 10:13:55.930       1
15         115    19705 2021-05-27 10:14:01.136       3
21         115    10442 2021-05-27 10:14:03.289       2
14         115    16631 2021-05-27 10:14:06.491       6
19         115    19705 2021-05-27 10:14:11.072       3
18         115    16631 2021-05-27 10:14:17.135       6
22         140    18723 2021-04-28 13:42:35.259       1
24         140    11378 2021-04-28 13:45:07.026       1
23         140    13914 2021-04-28 13:45:28.112       5
25         184    14383 2021-04-04 01:42:14.691       5
29         261    17428 2021-05-31 13:28:33.668       2
31         261     3946 2021-05-31 13:28:46.665       1
27         261    17428 2021-05-31 13:28:55.134       2
28         261    19143 2021-05-31 13:35:18.282       1
26         261    26673 2021-05-31 13:37:00.040       1
30         261    25002 2021-05-31 13:37:25.957       5
32         318    21330 2021-04-26 09:23:57.592       5
34         325    19882 2021-05-05 09:59:19.756       1
33         325     4130 2021-05-05 09:59:39.259       2
37         325     4130 2021-05-05 10:00:12.831       2
36         325    11638 2021-05-05 10:01:10.539       1
35         325     9219 2021-05-05 10:01:35.310       5
39         332     5264 2021-05-25 15:38:47.633       1
38         332    23345 2021-05-25 15:39:08.032       5
40         388     1610 2021-05-21 18:11:59.182       5
42         422     1146 2021-04-08 17:18:00.767       1
44         422    22035 2021-04-08 17:49:55.559       1
41         422     8062 2021-04-08 17:54:15.603       6
43         422     8062 2021-04-08 17:55:19.386       6
46         480     2915 2021-04-04 11:32:38.834       1
47         480     7548 2021-04-04 11:36:38.990       1
45         480    16377 2021-04-04 11:39:11.063       5
49         496    23462 2021-04-02 14:29:26.664       1
51         496     5880 2021-04-02 14:29:53.463       1

time: 1min 15s (started: 2022-06-15 05:20:17 +00:00)

In [7]:
itemcf_last_2m = ItemCFRating(trn_data)
itemcf_last_2m.similarity()
rec_items = itemcf_last_2m.recommend(val_data_session_list, 20, 100)

start recommend...

100% 81618/81618 [08:33<00:00, 158.93it/s]

time: 8min 51s (started: 2022-06-15 05:21:32 +00:00)

In [8]:
eva_res = rank_itemcf(rec_items)

mrr_score = mrr(eva_res, val_label, overview=False)
print(mrr_score)
display(f"eva_res shape:{eva_res.shape}", eva_res.iloc[95:105,:])

0.032989121107306806

'eva_res shape:(8161800, 3)'

         session_id  item_id  rank
7753710         113     4003    96
7835328         113    10217    97
7916946         113    21686    98
7998564         113     8713    99
8080182         113     3049   100
1               115    18936     1
81619           115     9365     2
163237          115     1155     3
244855          115     1059     4
326473          115    10898     5

time: 4.88 s (started: 2022-06-15 05:30:24 +00:00)