In [2]:
import pandas as pd
import os

In [3]:
os.listdir("../datasets")

['all_feature_encoding.csv',
 'frequency_encoding.csv',
 'item_freq_vec.csv',
 'item_no_n_onehot.csv',
 'no_encoding.csv',
 'test_candidate_992.csv',
 'test_purchase.csv',
 'test_sessions_x.csv',
 'test_ses_vec_x_992.csv',
 'train_purchase.csv',
 'train_sessions_x.csv',
 'train_ses_vec_x_992.csv']

In [4]:
item_vec = pd.read_csv("../datasets/item_no_n_onehot.csv",index_col=0)
item_vec.set_index("item_id",inplace=True)
item_vec.head()

,10_147,10_159,10_184,10_217,10_22,10_287,10_361,10_407,10_464,10_561,...,68_1,69_1,6_1,70_1,71_1,72_1,73_1,7_1,8_1,9_1
item_id,,,,,,,,,,,,,,,,,,,,,
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.336008,1.071298,-0.264768,-0.172988,-0.145533,-0.423388,-0.987598,-0.117550,-0.278755,-0.072062
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.746646,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,0.080247,-0.278755,-0.072062
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.243919,-0.199109,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,1.393206,-0.278755,-0.072062
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.288110,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,-0.987598,0.366711,-0.278755,-0.072062
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.336008,-0.001409,-0.264768,-0.172988,-0.145533,-0.423388,1.072686,1.260205,-0.278755,-0.072062

In [8]:
tran_ses_vec = pd.read_csv("../datasets/train_ses_vec_x_992.csv",index_col=0)
tran_ses_vec

,10_147,10_159,10_184,10_217,10_22,10_287,10_361,10_407,10_464,10_561,...,68_1,69_1,6_1,70_1,71_1,72_1,73_1,7_1,8_1,9_1
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.320402,-4.337581,-0.529536,-0.345977,-0.291065,-1.550114,2.145372,-2.922403,-0.557509,-0.144123
13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.336008,0.686881,4.606654,-0.172988,-0.145533,0.251816,-0.987598,1.260205,-0.278755,-0.072062
18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.393123,-0.890217,-0.794305,-0.518965,-0.436598,1.716677,1.157774,4.179619,-0.836264,-0.216185
19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.454677,1.059739,-4.501060,-2.940801,-2.474054,9.682513,6.226175,0.337703,-4.738827,-1.225049
24,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.605504,2.597697,-2.382914,-1.556895,-1.309793,3.546422,-0.647247,2.137491,-2.508791,-0.648555
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4439982,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.532761,0.530574,-2.118146,-1.383906,-1.164261,-0.986377,-7.900787,3.578231,-2.230036,-0.576494
4439990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-4.106300,1.046226,-2.912450,-1.902871,7.182086,-1.379713,10.083907,-2.077410,-3.066300,-0.792679
4439994,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.675486,-0.001409,-0.264768,-0.172988,-0.145533,0.458129,1.072686,0.080247,-0.278755,-0.072062
4439999,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-2.921333,-0.628591,-1.853378,20.892821,-1.018728,0.060637,5.793162,-2.316551,10.015491,-0.504432
4440001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-1.909451,12.538185,4.864878,-3.286777,-2.765119,-5.324798,18.665396,0.324273,-2.888070,-1.369173

In [9]:
purchase = pd.read_csv("../datasets/train_purchase.csv",index_col=0)
purchase.head()

   session_id  item_id                     date
0           3    15085  2020-12-18 21:26:47.986
1          13    18626  2020-03-13 19:36:15.507
2          18    24911  2020-08-26 19:20:32.049
3          19    12534  2020-11-02 17:16:45.920
4          24    13226  2020-02-26 18:27:44.114

In [ ]:
def similarity_encoding(_session_df,_candi_df,_purchase_df):

In [11]:
purchase.item_id.nunique()

18507

In [16]:
tran_ses_vec.loc[3]

10_147    0.000000
10_159    0.000000
10_184    0.000000
10_217    0.000000
10_22     0.000000
            ...
72_1     -1.550114
73_1      2.145372
7_1      -2.922403
8_1      -0.557509
9_1      -0.144123
Name: 3, Length: 992, dtype: float64