In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

time: 303 µs (started: 2022-05-30 16:17:31 +00:00)

# 讀取檔案
- 記得替換檔案路徑
- 有新增一個欄位`original_file`為該筆資料在哪一個原始檔案中

In [23]:
t_purchases=pd.read_csv("../../recsys2022/train_purchases.csv")
t_session=pd.read_csv("../../recsys2022/train_sessions.csv")

t_purchases["date"]=pd.to_datetime(t_purchases.date)
t_session['date']=pd.to_datetime(t_session.date)

t_purchases['original_file']='train_purchases'
t_session['original_file']='train_sessions'

all_data=pd.concat([t_purchases, t_session], ignore_index=True)

time: 2.86 s (started: 2022-05-30 16:17:31 +00:00)

In [24]:
# t_purchases.shape[]+t_session.shape

time: 195 µs (started: 2022-05-30 16:17:34 +00:00)

In [25]:
all_data

         session_id  item_id                    date    original_file
0                 3    15085 2020-12-18 21:26:47.986  train_purchases
1                13    18626 2020-03-13 19:36:15.507  train_purchases
2                18    24911 2020-08-26 19:20:32.049  train_purchases
3                19    12534 2020-11-02 17:16:45.920  train_purchases
4                24    13226 2020-02-26 18:27:44.114  train_purchases
...             ...      ...                     ...              ...
5743815     4440001    20409 2020-10-30 23:37:20.658   train_sessions
5743816     4440001    14155 2020-10-30 23:31:56.607   train_sessions
5743817     4440001    14303 2020-10-30 23:36:17.934   train_sessions
5743818     4440001    27852 2020-10-30 23:39:55.186   train_sessions
5743819     4440001      305 2020-10-30 23:27:37.873   train_sessions

[5743820 rows x 4 columns]

time: 18.5 ms (started: 2022-05-30 16:17:34 +00:00)

In [26]:
mask = (all_data['date'] >= '2021-3-1') & (all_data['date'] <= '2021-3-31')
res=all_data.loc[mask]
res

         session_id  item_id                    date    original_file
8                42    11784 2021-03-01 15:17:04.264  train_purchases
32              186     1368 2021-03-27 22:12:41.377  train_purchases
48              306    17376 2021-03-15 11:05:10.535  train_purchases
55              337    24738 2021-03-05 07:47:30.682  train_purchases
59              351     9683 2021-03-05 19:45:49.050  train_purchases
...             ...      ...                     ...              ...
5743596     4439845    20770 2021-03-02 09:01:37.282   train_sessions
5743597     4439845    18030 2021-03-02 09:01:57.762   train_sessions
5743598     4439845    18156 2021-03-02 09:01:22.674   train_sessions
5743712     4439927     9268 2021-03-29 16:22:31.958   train_sessions
5743743     4439952    26085 2021-03-03 19:33:33.963   train_sessions

[355256 rows x 4 columns]

time: 46.9 ms (started: 2022-05-30 16:17:34 +00:00)

In [27]:
res.to_csv('../datasets/session_202103_202103.csv')

time: 817 ms (started: 2022-05-30 16:17:34 +00:00)

In [29]:
res.iloc[(res['original_file']=='train_sessions').tolist(),:3].to_csv('../datasets/train_last_1m.csv')
res.iloc[(res['original_file']=='train_purchases').tolist(),:3].to_csv('../datasets/purchases_last_1m.csv')

time: 771 ms (started: 2022-05-30 16:18:25 +00:00)