In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# 讀取檔案
- 記得替換檔案路徑
- 有新增一個欄位`original_file`為該筆資料在哪一個原始檔案中

In [2]:
t_purchases=pd.read_csv("train_purchases.csv")
t_session=pd.read_csv("train_sessions.csv")

t_purchases["date"]=pd.to_datetime(t_purchases.date)
t_session['date']=pd.to_datetime(t_session.date)

t_purchases['original_file']='train_purchases'
t_session['original_file']='train_sessions'

all_data=pd.concat([t_purchases, t_session], ignore_index=True)

In [3]:
# t_purchases.shape[]+t_session.shape

In [4]:
all_data

         session_id  item_id                    date    original_file
0                 3    15085 2020-12-18 21:26:47.986  train_purchases
1                13    18626 2020-03-13 19:36:15.507  train_purchases
2                18    24911 2020-08-26 19:20:32.049  train_purchases
3                19    12534 2020-11-02 17:16:45.920  train_purchases
4                24    13226 2020-02-26 18:27:44.114  train_purchases
...             ...      ...                     ...              ...
5743815     4440001    20409 2020-10-30 23:37:20.658   train_sessions
5743816     4440001    14155 2020-10-30 23:31:56.607   train_sessions
5743817     4440001    14303 2020-10-30 23:36:17.934   train_sessions
5743818     4440001    27852 2020-10-30 23:39:55.186   train_sessions
5743819     4440001      305 2020-10-30 23:27:37.873   train_sessions

[5743820 rows x 4 columns]

In [13]:
mask = (all_data['date'] >= '2021-3-1') & (all_data['date'] <= '2021-5-31')
res=all_data.loc[mask]
res.head(3)

    session_id  item_id                    date    original_file
6           31     8345 2021-04-20 19:46:42.594  train_purchases
8           42    11784 2021-03-01 15:17:04.264  train_purchases
17         113    21107 2021-05-05 14:15:07.278  train_purchases

In [14]:
res.to_csv('session_202103_202106.csv')