In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

time: 750 ms (started: 2022-06-12 04:20:07 +00:00)

# 讀取檔案
- 記得替換檔案路徑
- 有新增一個欄位`original_file`為該筆資料在哪一個原始檔案中

In [42]:
t_purchases=pd.read_csv("../../recsys2022/train_purchases.csv")
t_session=pd.read_csv("../../recsys2022/train_sessions_last_item.csv")

t_purchases["date"]=pd.to_datetime(t_purchases.date)
t_session['date']=pd.to_datetime(t_session.date)

t_purchases['original_file']='train_purchases'
t_session['original_file']='train_sessions'

all_data=pd.concat([t_purchases, t_session], ignore_index=True)

time: 1.01 s (started: 2022-06-13 05:30:29 +00:00)

In [43]:
# t_purchases.shape[]+t_session.shape

time: 208 µs (started: 2022-06-13 05:30:30 +00:00)

In [44]:
display(all_data, all_data['date'].min(), all_data['date'].max())

         session_id  item_id                    date    original_file
0                 3    15085 2020-12-18 21:26:47.986  train_purchases
1                13    18626 2020-03-13 19:36:15.507  train_purchases
2                18    24911 2020-08-26 19:20:32.049  train_purchases
3                19    12534 2020-11-02 17:16:45.920  train_purchases
4                24    13226 2020-02-26 18:27:44.114  train_purchases
...             ...      ...                     ...              ...
1999995     4439986    27733 2021-05-13 11:55:50.151   train_sessions
1999996     4439990    22551 2020-08-22 12:36:27.326   train_sessions
1999997     4439994    25357 2020-11-27 20:08:37.262   train_sessions
1999998     4439999    15853 2020-11-27 10:59:28.653   train_sessions
1999999     4440001    20449 2020-10-30 23:40:28.149   train_sessions

[2000000 rows x 4 columns]

Timestamp('2020-01-01 00:00:48.505000')

Timestamp('2021-05-31 23:47:07.764000')

time: 11 ms (started: 2022-06-13 05:30:30 +00:00)

In [45]:
mask = (all_data['date'] >= '2021-01-1') & (all_data['date'] <= '2021-6-1')
res=all_data.loc[mask]
res

         session_id  item_id                    date    original_file
6                31     8345 2021-04-20 19:46:42.594  train_purchases
8                42    11784 2021-03-01 15:17:04.264  train_purchases
17              113    21107 2021-05-05 14:15:07.278  train_purchases
18              115    25976 2021-05-27 10:24:05.043  train_purchases
22              140    23502 2021-04-28 13:45:31.202  train_purchases
...             ...      ...                     ...              ...
1999982     4439936    23764 2021-04-16 14:52:22.939   train_sessions
1999986     4439949    16806 2021-05-12 05:49:08.706   train_sessions
1999987     4439952    26085 2021-03-03 19:33:33.963   train_sessions
1999988     4439953    21566 2021-04-02 11:30:34.758   train_sessions
1999995     4439986    27733 2021-05-13 11:55:50.151   train_sessions

[625814 rows x 4 columns]

time: 29 ms (started: 2022-06-13 05:30:37 +00:00)

In [46]:
print(res['date'].min(), res['date'].max())
display(res['session_id'].nunique(), t_purchases.iloc[(t_purchases['date'] >= f'2021-1-01').tolist(),0].nunique())

2021-01-01 00:02:43.232000 2021-05-31 23:47:07.764000

312907

312907

time: 74.1 ms (started: 2022-06-13 05:30:49 +00:00)

In [36]:
res.to_csv('../datasets/session_last_item_20210101.csv', index=False)

time: 1.72 s (started: 2022-06-12 13:36:43 +00:00)

In [47]:
res.iloc[(res['original_file']=='train_sessions').tolist(),:3].to_csv('../datasets/train_last_item_last_5m.csv', index=False)
res.iloc[(res['original_file']=='train_purchases').tolist(),:3].to_csv('../datasets/purchases_last_item_last_5m.csv', index=False)
res.sort_values("session_id").iloc[:,:3].to_csv('../datasets/train_purchases_last_item_last_5m.csv', index=False)

time: 2.32 s (started: 2022-06-13 05:31:53 +00:00)