In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

time: 312 µs (started: 2022-06-01 16:06:14 +00:00)

# 讀取檔案
- 記得替換檔案路徑
- 有新增一個欄位`original_file`為該筆資料在哪一個原始檔案中

In [19]:
t_purchases=pd.read_csv("../../recsys2022/train_purchases.csv")
t_session=pd.read_csv("../../recsys2022/train_sessions.csv")

t_purchases["date"]=pd.to_datetime(t_purchases.date)
t_session['date']=pd.to_datetime(t_session.date)

t_purchases['original_file']='train_purchases'
t_session['original_file']='train_sessions'

all_data=pd.concat([t_purchases, t_session], ignore_index=True)

time: 2.86 s (started: 2022-06-01 16:06:15 +00:00)

In [20]:
# t_purchases.shape[]+t_session.shape

time: 208 µs (started: 2022-06-01 16:06:18 +00:00)

In [21]:
display(all_data, all_data['date'].min(), all_data['date'].max())

         session_id  item_id                    date    original_file
0                 3    15085 2020-12-18 21:26:47.986  train_purchases
1                13    18626 2020-03-13 19:36:15.507  train_purchases
2                18    24911 2020-08-26 19:20:32.049  train_purchases
3                19    12534 2020-11-02 17:16:45.920  train_purchases
4                24    13226 2020-02-26 18:27:44.114  train_purchases
...             ...      ...                     ...              ...
5743815     4440001    20409 2020-10-30 23:37:20.658   train_sessions
5743816     4440001    14155 2020-10-30 23:31:56.607   train_sessions
5743817     4440001    14303 2020-10-30 23:36:17.934   train_sessions
5743818     4440001    27852 2020-10-30 23:39:55.186   train_sessions
5743819     4440001      305 2020-10-30 23:27:37.873   train_sessions

[5743820 rows x 4 columns]

Timestamp('2020-01-01 00:00:01.359000')

Timestamp('2021-05-31 23:47:07.764000')

time: 36.6 ms (started: 2022-06-01 16:06:18 +00:00)

In [22]:
mask = (all_data['date'] >= '2021-5-1') & (all_data['date'] <= '2021-6-1')
res=all_data.loc[mask]
res

         session_id  item_id                    date    original_file
17              113    21107 2021-05-05 14:15:07.278  train_purchases
18              115    25976 2021-05-27 10:24:05.043  train_purchases
44              261     8840 2021-05-31 13:44:52.368  train_purchases
52              325     4309 2021-05-05 10:11:06.926  train_purchases
53              332    25415 2021-05-25 16:24:30.224  train_purchases
...             ...      ...                     ...              ...
5743777     4439986    19310 2021-05-13 11:50:51.523   train_sessions
5743778     4439986    13403 2021-05-13 11:49:19.975   train_sessions
5743779     4439986    23502 2021-05-13 11:46:56.606   train_sessions
5743780     4439986    27733 2021-05-13 11:55:50.151   train_sessions
5743781     4439986    12373 2021-05-13 11:53:36.222   train_sessions

[551733 rows x 4 columns]

time: 54.9 ms (started: 2022-06-01 16:06:22 +00:00)

In [23]:
print(res['date'].min(), res['date'].max())
display(res['session_id'].nunique(), t_purchases.iloc[(t_purchases['date'] >= f'2021-5-1').tolist(),0].nunique())

2021-05-01 00:00:08.088000 2021-05-31 23:47:07.764000

81618

81618

time: 60.3 ms (started: 2022-06-01 16:06:30 +00:00)

In [24]:
res.to_csv('../datasets/session_202105.csv', index=False)

time: 1.13 s (started: 2022-06-01 16:06:46 +00:00)

In [25]:
res.iloc[(res['original_file']=='train_sessions').tolist(),:3].to_csv('../datasets/train_last_1m.csv', index=False)
res.iloc[(res['original_file']=='train_purchases').tolist(),:3].to_csv('../datasets/purchases_last_1m.csv', index=False)
res.sort_values("session_id").iloc[:,:3].to_csv('../datasets/train_purchases_last_1m.csv', index=False)

time: 2.13 s (started: 2022-06-01 16:06:53 +00:00)